h2.postTitle {
  @apply text-2xl md:text-3xl inline;
}

.postMetaLine {
  @apply pl-2 md:pl-4 mb-3 md:mb-6;

  @apply text-xs md:text-sm;

  time {
    @apply mr-2;
    @apply text-xs text-stone-400 dark:text-stone-500;
  }
}

.postTagContainer {
  @apply break-words my-2;

  p {
    @apply inline;
    @apply p-1 px-2 md:px-3;

    @apply rounded border-gray-200	dark:border-gray-800 border-solid border-2;
  }

  p + p {
    @apply ml-2;
  }
}

.postWrapper {
  @apply mb-6;
}

.postHeader {
  vertical-align: baseline;
  @apply mb-1 md:mb-3;

  & > a {
    @apply ml-2;
  }
  & > a > svg {
    height: 20px;
    width: 20px;

    @apply inline-block align-baseline;

    &:hover {
      @apply text-gray-200;
    }
  }
}

.postContent {
  @apply text-ellipsis overflow-hidden break-words text-justify;

  code {
    @apply text-amber-600 dark:text-amber-300;
  }
}

.postCoverImage {
  p {
    @apply opacity-50 text-sm text-center mt-1 mb-3;
  }
}

.postCoverImageWrapper {
  height: 30vh;
  @apply relative w-full;

  & > span {
    overflow: initial !important;
  }

  img {
    @apply shadow-xl lg:rounded-xl rounded;
  }
}
